.timeFormat
{ font-size: 2em; }

.shading
{ background-color:none;}

kbd
{
  color:black;
  background-color:white;
  box-shadow:none;
}

.right
{
  float: right;
  margin-bottom: 5px;
}

.btnTimer
{ width:78px; }

.timerDiv
{ text-align: center; }
